$width-mob: 980px;

$bg-color: #ffffff;

$primary-text: #000;
$secondary-text: #9b9a99;
$additional: #707070;

$border-color: #b6b1b1;
$border-color-2: #d1cfcf;
$border-radius: 1.2rem;

$font-s: 1.8rem;
$font-m: 2rem;
$font-l: 2.4rem;
$font-xl: 4.8rem;
